<link href='https://fonts.googleapis.com/css?family=Kavoon' rel='stylesheet'>
<link rel="stylesheet" href="/public/css/sample.css">
<title><%= title %> </title>


<% if (user.user.role == "admin") { %>
<%- include('./../partials/adminHeader') -%>
<% } else {%>
<%- include('./../partials/userHeader') -%>
<% } %>

<body>
  <div class="card-category-4">
    <span class="category-name"></span> <br /><br />
    <ul>

      <% if (products.length <= 0) { %>
      <h1>No products yet!</h1>
      <% } else {%>
      <% products.forEach(product => { %>
      <li class="mt-2">
        <div class="sp-card-2">
          <div class="overlap">
            <a href="#" title="Add To Cart">Add To Cart</a>
          </div>
          <div class="card-image">
            <img src="/public/images/bpnecklace.PNG" />
          </div>
          <div class="card-content">
            <span class="card-title"><%= product.title %> </span>
            <span class="price-start">$<%= product.price %> </span>
            <div class="card-caption">
             <%= product.description %>
              <span style="font-size: 10px">Image by <a
                  href="https://pixabay.com/users/nattyjeff-1836617/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1886008"
                  style="text-decoration: none;color:#717171">jeff burroughs</a> from <a
                  href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1886008"
                  style="text-decoration: none;color:#717171">Pixabay</a></span>
            </div>
            <div class="cloth-size">
              <span><b>Sizes:</b> </span>
              <span><b>S, M, L, XL</b></span>
            </div>
            <div class="cloth-colors">
              <span><b>Colors:</b> </span>
              <span class="color1"></span>
              <span class="color2"></span>
              <span class="color3"></span>
              <span class="color4"></span>
            </div>
          </div>
        </div>
      </li>
      <% }) %>
      <% } %>

    </ul>
  </div>

  <%- include('./../partials/footer') -%>
</body>