<link href='https://fonts.googleapis.com/css?family=Kavoon' rel='stylesheet'>
<link rel="stylesheet" href="/public/css/sample.css">
<title><%= title %> </title>

<%if (user == 'no user found') { %>
  <%- include('./../partials/header') -%>
 <% } else { %>
  <% if (user.user.role == "admin") { %>
    <%- include('./../partials/adminHeader') -%>
  <% } else {%>
    <%- include('./../partials/userHeader') -%>
  <% } %>
<% } %>
<body>
  <div class="card-category-4">
    <span class="category-name"></span> <br /><br />
    <ul>
      <% if (products.length <= 0) { %>
      <h1>No Products Yet!</h1>
      <% } else {%>
      <% products.forEach(product => { %>
        
      <li class="my-2 mx-3">
        <div class="sp-card-2">
          <div class="overlap">
            <a href="#" title="Add To Cart" id="<%= product._id%>" class="addTocart">Add To Cart</a>
          </div>
          <div class="card-image">

            <img src="<%= product.imageUrl %>" alt="product image"/>
          </div>
          <input type="hidden" value="" class="<%=JSON.stringify(product)%>" name="<%= product._id %>">
          <div class="card-content">
            <span class="card-title"><%= product.title %> </span>
            <span class="price-start">₱<%= product.price %>.00</span>
            <div class="card-caption">
              <span><b>Description:</b> <br> </span>
             <%= product.description %>
            </div>
          </div>
        </div>
      </li>
      <% }) %>
      <% } %>

    </ul> 
  </div>
  <script src="/public/js/userFunctions.js"></script>
  <script src="/public/js/main.js"></script>
  <%- include('./../partials/footer') -%>
</body>